---
import GitHubIcon from '@components/social-icons/GitHubIcon.astro';
---

<button
  class="flex items-center gap-2 rounded bg-slate-300 px-6 text-lg font-semibold"
>
  <GitHubIcon />
   Github
</button>
