---
import ContactMeButton from './ContactMeButton.astro';
import GithubButton from './GithubButton.astro';
---

<section class="py-20">
  <div>
    <h1 class="py-10 text-6xl font-extrabold">
      Hi! I'm<span
        class="bg-gradient-to-r from-blue-500 via-purple-500 to-pink-600 bg-clip-text p-4 text-transparent"
        >Wojciech</span
      >,
      <br />
       a full-stack developer.
    </h1>

    <div class="flex gap-4">
      <ContactMeButton />
      <GithubButton />
    </div>
  </div>
</section>
