---
import HeroContent from './HeroContent.astro';
---

<section class="py-20">
  <video
    autoplay
    muted
    loop
    class="absolute left-0 top-[-340px] z-[-2] hidden h-full w-full rotate-180 object-cover dark:block"
  >
    <source src="/video/blackhole.webm" type="video/webm" />
  </video>
  <HeroContent />
</section>
