---
import BaseLayout from '../../layouts/BaseLayout.astro'
import BlogPost from '../../components/BlogPost.astro'

export async function getStaticPaths() {
  // TODO: fix types
  const allPosts: any[] = await Astro.glob('../posts/*.md')

  const uniqueTags = [
    ...new Set(allPosts.flatMap((post) => post.frontmatter.tags)),
  ]

  return uniqueTags.map((tag) => ({
    params: { tag },
    props: { posts: allPosts },
  }))
}

const { tag } = Astro.params
const { posts } = Astro.props
const filteredPosts = posts.filter((post) =>
  post.frontmatter.tags?.includes(tag),
)
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {
      filteredPosts.map((post) => (
        <BlogPost post={{ title: post.frontmatter.title, url: post.url }} />
      ))
    }
  </ul>
</BaseLayout>
