---
import BlogPost from '@components/blog/BlogPost.astro';
import BaseLayout from '@layouts/BaseLayout.astro';

import { getCollection } from 'astro:content';

const pageTitle = 'Blog';

const allPosts = await getCollection('posts');
---

<BaseLayout {pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost
          post={{ title: post.data.title, url: `/posts/${post.slug}/` }}
        />
      ))
    }
  </ul>
</BaseLayout>
