---
import BaseLayout from '@layouts/BaseLayout.astro'
import Greeting from '../components/react/Greeting.jsx'

const pageTitle = 'Tyberos Dev'
---

<BaseLayout {pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <Greeting
    client:load
    messages={['Hello, world!', 'Welcome to my blog!', "I'm glad you're here!"]}
  />
</BaseLayout>
