---
import BaseLayout from '@layouts/BaseLayout.astro';

const pageTitle = 'Tyberos Dev';
---

<BaseLayout {pageTitle}>
  <div class="container mx-auto pt-4">
    <div class="flex flex-col gap-2">
      <span>Hello, my name is <span class="text-secondary">tyberos</span></span>
      <span>I'm a software engineer.</span>
    </div>
  </div>
</BaseLayout>
