---
import Hero from '@components/hero/Hero.astro';
import LatestPosts from '@components/LatestPosts.astro';
import BaseLayout from '@layouts/BaseLayout.astro';

const pageTitle = 'Tyberos Dev';
---

<BaseLayout {pageTitle}>
  <div class="container mx-auto">
    <Hero />

    <section>
      <div class="container">
        <h3 class="mb-4 text-2xl">My latest blog posts</h3>
        <LatestPosts />
      </div>
    </section>

    <section>
      <div class="container">
        <h2>Projects</h2>
      </div>
    </section>
  </div>
</BaseLayout>
