---
import type { NavbarItem } from './Header.astro';

interface Props {
  navigationItems: NavbarItem[];
}

const { navigationItems } = Astro.props;
---

<nav class="">
  <ul class="flex">
    {
      navigationItems?.map((navItem: any) => (
        <li>
          <a
            href={navItem.href}
            class="rounded-md px-3 py-2 text-sm font-medium"
          >
            {navItem.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
