---
import { getCollection } from 'astro:content';
import LatestPost from './LatestPost.astro';

const allPosts = await getCollection('posts');

const latestPost = allPosts.sort((a, b) => {
  return a.data.pubDate > b.data.pubDate ? -1 : 1;
});

const latestPosts = latestPost.slice(0, 3);
---

<div class="grid grid-cols-1 gap-4 md:grid-cols-3">
  {latestPosts.map((post) => <LatestPost post={post} />)}
</div>
