---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<'posts'>;
}

const {
  post: {
    data: { title, description, image },
  },
} = Astro.props;
---

<div
  class="rounded-lg border-b border-gray-200 bg-white py-2 dark:border-gray-700 dark:bg-gray-800"
>
  <h2 class="text-lg font-semibold text-textPrimary dark:text-textPrimaryDark">
    {title}
  </h2>
  <p class="text-sm">{description}</p>
  <div class="mt-2">
    <Image
      src={image.path}
      alt={image.alt}
      class="h-40 w-full rounded-md object-cover"
    />
  </div>
</div>
