---
import type { NavbarItem } from './Header.astro'

interface Props {
  navigationItems: NavbarItem[]
}

const { navigationItems } = Astro.props
---

<nav class="bg-gray-800 p-4 text-white">
  <ul class="flex flex-col md:flex-row md:space-x-4">
    {
      navigationItems?.map((navItem: any) => (
        <li>
          <a
            href={navItem.href}
            class="rounded-md px-3 py-2 text-sm font-medium hover:bg-gray-700"
          >
            {navItem.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
